# env.example
SECRET_KEY=填入你的Flask密钥
JWT_SECRET_KEY=填入你的JWT密钥
DATABASE_URL=mysql+pymysql://user:pwd@IP:3306/db
UPLOAD_DIR=./storage
SILICON_API_KEY=sk-xxxxxxxxxxx这里放硅基流动KEY
# Email settings for verification
MAIL_SERVER=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=your_email@qq.com
MAIL_PASSWORD=your_email_auth_code

# Optional admin bootstrap
ADMIN_INIT_EMAIL=
ADMIN_INIT_USERNAME=admin
ADMIN_INIT_PASSWORD=123456
